{% extends 'global/base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
    <div class="title-container">
        <h1>Login</h1>
        {% if request.user.is_authenticated %}
            <div class="login-message">
                Você está logado como {{ request.user.username }}. Para sair 
                <form action="{% url 'users:logout' %}" method="POST" class="inline-form">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ request.user.username }}">
                    <button type="submit">clique aqui</button>
                </form>
            </div>
        {% else %}
            <div class="redirect-text">
                Caso não possua uma conta, <a href="{% url 'users:register' %}">clique aqui</a> para realizar o cadastro.
            </div>
        {% endif %}
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% include 'global/form.html' %}
{% endblock content %}


