<div class="form-container center">
    <form action="{{ form_action }}" method="POST">
        {% csrf_token %}
        <div class="grid-container">
            {% for field in form %}
                {% if field.help_messages %}
                    <div class="help-messages">
                        {{ field.help_messages }}
                    </div>
                {% endif %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}"> {{ field.label }} </label>
                    <p> {{ field }} </p>
                </div>
                {% if field.error %}
                    <div class="field-errors">
                        {{ field.error }}
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit">Login</button>
        </div>
    </form>   
</div>